* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: lightgray;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, gray, darkgray);
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav .profile {
    margin-right: 20px;
}

.nav .profile img {
    height: 65px;
    width: 65px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s;
    margin-left: 450px;
}

.nav .profile img:hover {
    transform: scale(1.1);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, gray, darkgray);
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.user-info {
    display: flex;
    flex-direction: column;
}

.user-info span {
    color: white;
    margin-bottom: 5px;
}

.profile img {
    height: 65px;
    width: 65px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s;
}

.profile img:hover {
    transform: scale(1.1);
}

.signOut {
    position: fixed;
    top: 45px;
    right: 20px;
}

.signOut a {
    text-decoration: none;
    color: white;   
}

a {
    position: relative;
    color: #000;
    text-decoration: none;
    transition: 0.3s ease;
}
  
a:hover {
    color: gray;
}

a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: gray;
    transform: scaleX(0);
    transition:  0.3s ease;
}

a:hover::before {
    transform: scaleX(1);
}

.navtext {
    color: white;
    font-size: 24px;
}

.container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

button.add {
    background-color: gray;
    border: 1px solid rgba(0, 0, 0, 0.575);
    height: 40px;
    width: 50px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    border-color: transparent;
    margin-left: 7px;
    box-shadow: 0px 1px 6px;
}

button.add:hover {
    background-color: rgb(91, 219, 91);
}

.inputadd {
    border: 0;
    background-color: lightgray;
    height: 37px;
    padding: 5px 15px;
    font-size: 16px;
    box-shadow: 0px 1px 6px;
    transition: ease-out 0.3s;
    margin-bottom: 10px;
}

.inputadd:hover {
    box-shadow: 0px 1px 9px;
}

hr {
    height: 2px; 
    border: none; 
    background-color: gray; 
}

.list1 {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}

.text1 {
    flex-grow: 1; 
}

.checkbox-container {
    display: flex; 
    align-items: center; 
}

.toolscheckbox1 {
    margin-left: 5px; 
}

.edit1, .delete1 {
    background-color: gray;
    border: 1px solid rgba(0, 0, 0, 0.575);
    height: 30px;
    width: 70px; 
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    border-color: transparent;
    margin-left: 8px;
    box-shadow: 0px 1px 6px;
}

.delete1:hover {
    background-color: rgb(219, 91, 91);
}

.edit1:hover {
    background-color: rgb(91, 151, 219);
}

@media(max-width: 750px){
  nav .profile img{
    display: none;
  }
}

@media only screen and (max-width: 735px ){
  .input-grid, .todo-grid{
    grid-template-columns: 1fr;
  }

  .list{
    display: none;
  }
}

@media (max-width: 705px){
  .todo-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr
    }
}
